In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df1 = pd.read_csv('motor_value_elbow_final.csv')
df2 = pd.read_csv('motor_value_wrist_final.csv')

df1 = df1[40:]
df1 = df1.reset_index(drop=True)
df2 = df2[40:]
df2 = df2.reset_index(drop=True)

df = pd.concat([df1, df2])

Getting rid of the first few lines where the timestamps are not yet syncronized

In [3]:
df = df[40:]
df = df.reset_index(drop=True)

In [4]:
df

       Mqtt Timestamp  Unity Timestamp   Angle
0     17:11:42.584387  17:11:42.981427    1195
1     17:11:42.623719  17:11:43.111081    1190
2     17:11:42.667795  17:11:43.186878    1170
3     17:11:42.703235  17:11:43.186878    1125
4     17:11:42.743341  17:11:43.232756    1050
...               ...              ...     ...
7339  17:14:13.878890  17:14:14.291726     260
7340  17:14:13.916845  17:14:14.335609     260
7341  17:14:13.953547  17:14:14.335609     260
7342  17:14:13.990409  17:14:14.437337     260
7343  17:14:14.027076  17:14:14.437337     260

[7344 rows x 3 columns]

In [5]:
df.rename(columns={' Unity Timestamp':'Unity Timestamp'}, inplace=True)
df.columns

Index(['Mqtt Timestamp', 'Unity Timestamp', ' Angle'], dtype='object')

In [6]:
df['Mqtt Timestamp'] = pd.to_datetime(df['Mqtt Timestamp'])
df['Unity Timestamp'] = pd.to_datetime(df['Unity Timestamp'])

In [7]:
df["Unity Timestamp"][0]

Timestamp('2020-06-25 17:11:42.981427')

In [8]:
df["Unity Timestamp"][2] - df["Mqtt Timestamp"][2]

Timedelta('0 days 00:00:00.519083')

In [9]:
df['time_difference'] = df['Unity Timestamp'] - df['Mqtt Timestamp']

In [10]:
df

,Mqtt Timestamp,Unity Timestamp,Angle,time_difference
0,2020-06-25 17:11:42.584387,2020-06-25 17:11:42.981427,1195,00:00:00.397040
1,2020-06-25 17:11:42.623719,2020-06-25 17:11:43.111081,1190,00:00:00.487362
2,2020-06-25 17:11:42.667795,2020-06-25 17:11:43.186878,1170,00:00:00.519083
3,2020-06-25 17:11:42.703235,2020-06-25 17:11:43.186878,1125,00:00:00.483643
4,2020-06-25 17:11:42.743341,2020-06-25 17:11:43.232756,1050,00:00:00.489415
...,...,...,...,...
7339,2020-06-25 17:14:13.878890,2020-06-25 17:14:14.291726,260,00:00:00.412836
7340,2020-06-25 17:14:13.916845,2020-06-25 17:14:14.335609,260,00:00:00.418764
7341,2020-06-25 17:14:13.953547,2020-06-25 17:14:14.335609,260,00:00:00.382062
7342,2020-06-25 17:14:13.990409,2020-06-25 17:14:14.437337,260,00:00:00.446928
7343,2020-06-25 17:14:14.027076,2020-06-25 17:14:14.437337,260,00:00:00.410261

In [11]:
mean_latency = df["time_difference"].mean()
mean_latency

Timedelta('0 days 00:00:00.568655')

In [12]:
min_latency = df["time_difference"].min()
min_latency

Timedelta('0 days 00:00:00.376968')

In [13]:
max_latency = df["time_difference"].max()
max_latency

Timedelta('0 days 00:00:04.398487')

In [14]:
more_than_onems = df[df["time_difference"] > pd.Timedelta('0 days 00:00:01.000000')]
more_than_onems.count()

Mqtt Timestamp     459
Unity Timestamp    459
 Angle             459
time_difference    459
dtype: int64

In [15]:
# df = pd.concat([df, more_than_onems]).drop_duplicates(keep=False)

In [16]:
# df["time_difference"].mean()

In [20]:
df_local_breaks = pd.read_csv('exoskeleton_breaks.csv')
df_local_nobreaks = pd.read_csv('exoskeleton_nobreaks.csv')

df_local_breaks['timestamp'] = pd.to_datetime(df_local_breaks['timestamp'])
df_local_nobreaks['timestamp'] = pd.to_datetime(df_local_nobreaks['timestamp'])

In [21]:
df_local_breaks

         value_wrist  value_elbow                  timestamp
0                0.0          0.0 2020-06-26 00:11:19.505765
1                0.0          0.0 2020-06-26 00:11:19.546627
2                0.0          0.0 2020-06-26 00:11:19.581966
3                0.0          0.0 2020-06-26 00:11:19.617446
4                0.0          0.0 2020-06-26 00:11:19.653513
..               ...          ...                        ...
831              0.0         35.0 2020-06-26 00:11:53.918992
832              0.0         35.0 2020-06-26 00:11:53.954869
833              0.0         35.0 2020-06-26 00:11:53.992405
834              0.0         35.0 2020-06-26 00:11:54.028560
835  program stopped          NaN                        NaT

[836 rows x 3 columns]

In [22]:
df_local_nobreaks

          value_wrist  value_elbow                  timestamp
0                 0.0          0.0 2020-06-26 00:13:24.945779
1                 0.0          0.0 2020-06-26 00:13:24.970198
2                 0.0          0.0 2020-06-26 00:13:24.993159
3                 0.0          0.0 2020-06-26 00:13:25.009301
4                 0.0          0.0 2020-06-26 00:13:25.025944
...               ...          ...                        ...
1388              0.0         -6.0 2020-06-26 00:13:55.459179
1389              0.0         -6.0 2020-06-26 00:13:55.475623
1390              0.0         -6.0 2020-06-26 00:13:55.492295
1391              0.0         -6.0 2020-06-26 00:13:55.508216
1392  program stopped          NaN                        NaT

[1393 rows x 3 columns]

In [27]:
type(df_local_nobreaks['timestamp'][0])

pandas._libs.tslibs.timestamps.Timestamp